name: Build Pocketbase image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Pocketbase Version'
        required: true
        default: ''

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-pocketbase:
    name: Build and push Pocketbase image
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image tag from input
        id: set-tag
        run: |
          echo "IMAGE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_OUTPUT"

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/pocketbase:${{ steps.set-tag.outputs.IMAGE_TAG }}
          file: ./pocketbase.dockerfile
          build-args: |
            PB_VERSION=${{ steps.set-tag.outputs.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
